---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import FeaturedProperties from "../components/FeaturedProperties.astro";
---

<Layout>
  <main>
    <Hero />
    <FeaturedProperties />
  </main>
</Layout>