---
// src/pages/index.astro
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <main>
    <h1>Servicios AZ Inmobiliarios</h1>
    <p>Próximamente: header, hero y contenido completo.</p>
  </main>
</Layout>